<div class="user">
  <a
    *ngIf="!isLoggedIn"
    class="active"
    ariaCurrentWhenActive="page"
    >Login</a
  >
  <a
    *ngIf="isLoggedIn"
    (click)="logout()"
    class="active"
    ariaCurrentWhenActive="page"
    >Logout</a
  >
</div>
<header class="header">
  <div class="buttons">
    <button class="pokedex button" [routerLink]="['pokedex']">POKEDEX</button>
    <button class="liked button" [routerLink]="['liked']">LIKED</button>
  </div>
  <div class="login" *ngIf="!isLoggedIn">
    <div class="form">
      <input type="email" #email placeholder="Email"/>
      <input type="password" #password placeholder="Password"/>
      <button type="submit" (click)="login(email.value, password.value)">LOG IN</button>
    </div>
  </div>
</header>
