<div class="user">
  <a
  *ngIf="!isLoggedIn"
    class="active"
    onclick="document.getElementsByClassName('login')[0].style.display='flex'"
    ariaCurrentWhenActive="page"
    >LOG IN</a
  >
  <a
    *ngIf="isLoggedIn"
    (click)="logout()"
    class="active"
    ariaCurrentWhenActive="page"
    >LOG OUT</a
  >
</div>
<header class="header">
  <div class="buttons">
    <button class="pokedex button" [routerLink]="['pokedex']">POKEDEX</button>
    <button class="liked button" [routerLink]="['liked']">LIKED</button>
  </div>
  <div class="login" *ngIf="!isLoggedIn">
    <div class="form">
      <input type="email" #email placeholder="Email" />
      <input type="password" #password placeholder="Password" />
      <div class="modal-butttons">
      <button
        type="submit"
        (click)="login(email.value, password.value)"
        onclick="document.getElementsByClassName('login')[0].style.display='none'"
      >
        LOG IN
      </button>
      <button onclick="document.getElementsByClassName('login')[0].style.display='none'">CANCEL</button>
    </div>
    </div>
  </div>
</header>
