.modal-butttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.user {
  margin-top: 2%;
  margin-right: 5%;
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 375px) {
  .user {
    margin-top: 5%;
    margin-right: 8%;
    display: flex;
    justify-content: end;
  }
}
